@import '#utils/_mixins.scss';

.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include screen(medium) {
    gap: 25px;
  }

  &__title {
    @include font('roboto', '18', 'semi-bold');
    color: var(--text-title);
    letter-spacing: 0.25rem;
    margin: 0;

    @include screen(medium) {
      @include font('roboto', '20', 'semi-bold');
    }

    @include screen(large) {
      @include font('roboto', '22', 'semi-bold');
    }
  }
}

.buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: calc(20vw / 7);

  margin: 0;
  padding: 0;

  @include screen(medium) {
    gap: calc(10vw / 7);
  }

  &__button {
    background-color: var(--background-primary);
    border: solid 0.5px var(--background-primary);
    border-radius: 50px;

    @include font('roboto', '14', 'semi-bold');
    color: var(--text-main);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    cursor: pointer;

    @include screen(large) {
      @include font('roboto', '16', 'semi-bold');
      width: 35px;
      height: 35px;
    }

    @include transition((background-color, border-color, box-shadow));

    &:hover {
      color: var(--text-title);
      background-color: var(--accent-medium);
      border-color: var(--accent-light);
      box-shadow: 0 5px 5px 0 var(--accent-light-transparent);
    }
  }
}

.active,
.activeDate {
  color: var(--text-title);
  background-color: var(--accent-medium);
  border-color: var(--accent-light);
  box-shadow: 0 5px 5px 0 var(--accent-light-transparent);
}
