@import '#utils/_mixins.scss';

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include screen(medium) {
    flex-direction: row;
    gap: 40px;
  }

  @include screen(medium) {
    flex-direction: row;
    gap: 60px;
  }
}

.days {
  display: flex;
  gap: 20px;

  &__button {
    background-color: var(--background-primary);
    border: solid 0.5px var(--background-primary);
    border-radius: 50px;

    @include font('roboto', '14', 'semi-bold');
    color: var(--text-main);

    padding: 10px 25px;

    cursor: pointer;

    @include transition((background-color, border-color, box-shadow));

    &:hover {
      color: var(--text-title);
      background-color: var(--accent-medium);
      border-color: var(--accent-light);
      box-shadow: 0 5px 5px 0 var(--accent-light-transparent);
    }
  }

  @include screen(medium) {
    display: none;
  }
}

.activeDay {
  color: var(--text-title);
  background-color: var(--accent-medium);
  border-color: var(--accent-light);
  box-shadow: 0 5px 5px 0 var(--accent-light-transparent);
}
