@import '#utils/_mixins.scss';

.lecture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: clamp(250px, 75vw, 400px);

  padding: 15px 10px;
  margin: 0;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-main);
  border-radius: 15px;

  @include screen(medium) {
    width: clamp(200px, 35vw, 350px);
    height: min(50vw, 100px);
  }

  @include screen(large) {
    width: clamp(350px, 35vw, 500px);
  }

  &__name {
    @include font('roboto', '18', 'semi-bold');
    color: var(--text-title);
    text-align: center;
    margin: 0;
  }

  &__lecturer {
    @include font('roboto', '16', 'regular');
    color: var(--text-accent);
    text-align: center;
    margin: 0;
  }

  &__blank {
    width: clamp(250px, 75vw, 400px);
    height: clamp(50px, 25vh, 75px);

    @include screen(medium) {
      width: clamp(300px, 40vw, 365px);
      height: clamp(100px, 100px, 100px);
    }

    @include screen(large) {
      width: clamp(420px, 35vw, 600px);
    }
  }
}

.activeDay {
  display: flex;
}

.inactiveDay {
  display: none;

  @include screen(medium) {
    display: flex;
  }
}
