:root {
  // Background colors
  --background-main: #050714;
  --background-primary: #121936;
  --background-secondary: #303749;
  --background-transparent: #ffffff1a;

  // Accents
  --accent-light: #82b8ff;
  --accent-light-transparent: #82b8ff48;
  --accent-medium: #4696ff;
  --accent-dark: #1e3799;
  --accent-dark-transparent: #1e379948;

  // Text colors
  --text-title: #fafafa;
  --text-main: #eeeeee;
  --text-accent: #75a6eb;
}
