@import '#utils/_mixins.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  padding: 45px 10px;

  @include screen(medium) {
    padding: 45px 20px;
  }

  @include screen(large) {
    padding: 45px 30px;
  }

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25rem;
}
